


 <form class="forms-sample"  method="POST" id="addCategoryForm" >
    <div class="grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <p class="card-description" id="adCategoryalert"></p>

            
            <div class="form-group mt-4">
                <label for="categoryName">Category Name</label>
                <input type="text" class="form-control" id="ctegoryName" placeholder="Category Name" name="categoryName">
            </div>

            <div class="form-group mt-4">
                <label for="categoryDescription">Description</label>
                <textarea class="form-control" id="categoryDescription" rows="4" placeholder="Category Description" name="categoryDescription"></textarea>
            </div>


        </div>
        </div>
    </div>




            





            <input type="submit" class="btn btn-primary mr-2" value="Submit">
            
            
            

</form>





