<%- include('../partials/header.ejs') -%>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Amin Login</h3>
              <div class="text-center " id="alertMessage"> 
              <%if(locals.message){%>
                <%=message%>
                <%}%>
                </div>
              <form action="/admin" method="POST" novalidate  onsubmit="return validateLogin()">
                <div class="form-group">
                  <label for="email">Username or email *</label>
                  <input type="text" class="form-control p_input" name="email" id="email" onclick="clearError('emailError')">
                  <div id="emailError" class="text-danger"></div>
                </div>
                <div class="form-group">
                  <label class="password">Password *</label>
                  <input type="password" class="form-control p_input" name="password" id="password" onclick="clearError('passwordError')">
                  <div id="passwordError" class="text-danger"></div>
                </div>
           
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                </div>
             
               
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="/static/user/userJs/login-register/login-validation.js"></script>
<%- include('../partials/footer.ejs') %>