/* ----------------------product image preview------- --------------*/

.thumbnailImg{
    /* height: 7rem; */
    width: auto;
    object-fit: contain;
    
}
.productPreView{
    object-fit: contain;
    max-height: 35rem;
    width: auto;
    margin: 0 auto;
}
#img-container{
    max-height: 35rem;
}


.thumbnailImgWrap{
    display: inline-block;
    transition: transform 0.3s;

   box-shadow: 2px 2px 2px 1px rgba(50, 49, 49, 0.4);
    width: 6rem;
}

.thumbnailImgWrap:hover{
    transform: scale(1.08);
}



.size{
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding-left:0.7em ;
    max-width:2.5rem ;
    
}

@media (max-width:999px) {
    .thambUl{
        order: 1;
    }
    
}
.color{
    
    display: block;
     height: 25px;
   
}

.darkBtn{
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 35px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
.yellowBtn{

    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 35px;
    background-color: rgb(252, 146, 7);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.yellowBtn:hover{
    
    color: white;
    background-color:rgb(246, 191, 40);
}
.darkBtn:hover{
    
    color: white;
    background-color:rgb(68, 67, 67);
}

.Icon-lg{
    font-size: large;
}
.setsize{
    font-size: 0.9rem;
}


/* ------------------------------------------modal---------------------------------------- */

        /* The modal container */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* background-color: rgba(0, 0, 0, 0.6); Black overlay with transparency */
            overflow: auto; /* Enable scroll if the content exceeds the viewport */
        }

        /* Modal content */
        .modal-content {
           
            margin: 15% auto; /* 15% from the top and centered horizontally */
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            max-width: 400px; /* Adjust the width as needed */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            position: absolute;
            left: 40%;
            bottom: -15%;
            text-align: center;
            opacity: 0; /* Initially, make it invisible */
            transform: translateY(100%); /* Move it up */
            transition: opacity 0.3s, transform 0.3s; /* Add transition effect */
            border: 1px solid rgb(255,190,31);
            background-color: #000;
            
            
        }

        .modal-content.show {
            opacity: 1; /* Make it visible */
            transform: translateY(0); /* Move it to its original position */
        }

        /* Close button */
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #888;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        /* Close button on hover */
        .close:hover {
            color: #000;
        }

        /* Modal message text */
        #modal-message {
            font-size: 16px;
            color: #fff;
        }

        .cart_area{
            margin-top: 70px;
        }

        @media (max-width:987px) {
            .cart_area{
                margin: 0;
            }
        }

        /* -------------------------cart image------------------------- */
        .cartImg {
            max-width: 150px; /* Set your desired maximum width */
            max-height: 150px; /* Set your desired maximum height */
            overflow: hidden; /* Clip the image if it exceeds the container size */
            
           
        }
        
        /* Style for the image inside the container */
        .cartImg img {
            max-width: 100%; /* Ensure the image doesn't exceed the container width */
            max-height: 100%; /* Ensure the image doesn't exceed the container height */
            height: auto; /* Maintain the image's aspect ratio */

        }
        .cart-info{
            padding: 1rem;
            height: 100%;
            width: 100%;
            
        }
        .darkText{
            color: #000;
            font-weight: 500;
        }
        .cartBtn{
            margin-left: auto;
            margin-top: auto;
             
        }
        .cartSummeryHead{
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
            margin-bottom: 1rem;
        }

        .top-border{
            border-top: 1px dashed rgba(0, 0, 0, 0.09);
        }

        .cartSummeryBody {
            
            text-align: center; /* Center content horizontally if needed */
            font-size: 1rem;
        }
        



        .setPdding{
            padding: 2rem;
        }

       
@media (max-width: 500px) {

    .yellowBtn{
        padding: 0.39rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        font-size: 10px;
    }
    .darkBtn{
        padding: 0.39rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        font-size: 10px;

    }

    .cart-item {
        flex-direction: column; /* Stack items vertically */
    }

    .cartImg {
        text-align: center; /* Center the image */
    }

    .product_count {
        text-align: center; /* Center quantity input and buttons */
        margin-top: 10px; /* Add some spacing */
    }

    .media-body.cart-info {
        text-align: center; /* Center the product information */
        margin-top: 10px; /* Add some spacing */
    }
}



.cartSummeryBody > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Adjust the value to control the spacing */
  }

  .borderTop{
    border-top: 1px dashed rgba(0, 0, 0, 0.39);
  }
  .cartSummery{
    position: sticky;
    top: 5.5rem;
  }



.mdi-cart,.mdi-login{
    color: rgb(34,34,34);
}




/* ---------------------cart badge----------------------- */

.cBadge{
    
    position: absolute;
    top: -8px;
    left: 5px;
    background-color: rgb(252, 21, 21);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: white;
   
    display: none;
    justify-content: center;
    align-items: center;
}


    /* Style for the modal */
        .rmmodal {
            
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4); /* Black background with transparency */
        }

        /* Modal content */
        .rmmodal-content {
            position: relative;
            width: 80%;
            max-width: 35rem;
            background-color: #fff;
            margin: 15% auto;
            
            padding-bottom: 1rem;
            padding-top: 0.5rem;

            border-radius: 15px;
            text-align: center;
        }

        /* Close button */
        .rmclose {
            color: #ffffff;
            position: absolute;
            top:-5px;
            right: -25px;
            font-size: 30px;
            cursor: pointer;
           
            
            
            
        }

        .confirmHeader{
            padding: 0.5rem;
            padding: 0.2rem;
            border-bottom: 1px solid black;
            

        }
        .confirmHeader h2{
            color: #000000;
        }
        #confirmBtn{
            color: #f4f4f4;
        }
        .confirmBody{
            padding: 1rem;
        }

        /* -----------------------------------user profile page--------------------------------------- */

        .profile-image {
            max-width: 100%; /* Make the image responsive to its container */
            height: auto;    /* Maintain aspect ratio */
            display: inline-block;  /* Remove extra space at the bottom of inline images */
        }

        .profileOption{
            font-size: 1rem;
            border-bottom: 1px solid rgba(119,119,119,0.15);
            
            padding: 0;
        }
        .profileMainOption{
            font-weight: 500;
        }
        .profileOptionCard{
            padding-bottom: 1rem ;
            padding: 0;
        }
        .profileSubOption{
            text-decoration: none;
            font-size: 0.9rem;
            color: rgb(0,0,0);
            display: block;
            
        }
        .profileSubOption:hover{
            background-color: #F5FAFF;
            color:blue;

        }
        .selected{
            background-color: #F5FAFF;
            color:blue;
            font-weight: 500;
        }
        .userInfo{
            cursor:not-allowed;
        }
        .save{
            display: none;
        }
        

        @media (max-width:991px) {
            
            
        }