/* ----------------------product image preview------- --------------*/

.thumbnailImg{
    /* height: 7rem; */
    width: auto;
    object-fit: contain;
    
}
.productPreView{
    object-fit: contain;
    max-height: 35rem;
    width: auto;
    margin: 0 auto;
}
#img-container{
    max-height: 35rem;
    
}


.thumbnailImgWrap{
    display: inline-block;
    transition: transform 0.3s;

   box-shadow: 2px 2px 2px 1px rgba(50, 49, 49, 0.4);
    width: 6rem;
}

.thumbnailImgWrap:hover{
    transform: scale(1.08);
}



.size{
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding-left:0.7em ;
    max-width:2.5rem ;
    
}

@media (max-width:999px) {
    .thambUl{
        order: 1;
    }
    
}
.color{
    
    display: block;
     height: 25px;
   
}

.darkBtn{
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 35px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
.yellowBtn{

    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 35px;
    background-color: rgb(252, 146, 7);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.yellowBtn:hover{
    
    color: white;
    background-color:rgb(246, 191, 40);
}
.darkBtn:hover{
    
    color: white;
    background-color:rgb(68, 67, 67);
}

.Icon-lg{
    font-size: large;
}
.setsize{
    font-size: 0.9rem;
}


/* ------------------------------------------modal---------------------------------------- */

        /* The modal container */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* background-color: rgba(0, 0, 0, 0.6); Black overlay with transparency */
            overflow: auto; /* Enable scroll if the content exceeds the viewport */
        }

        /* Modal content */
        .modal-content {
           
            margin: 15% auto; /* 15% from the top and centered horizontally */
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            max-width: 400px; /* Adjust the width as needed */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            position: absolute;
            left: 40%;
            bottom: -15%;
            text-align: center;
            opacity: 0; /* Initially, make it invisible */
            transform: translateY(100%); /* Move it up */
            transition: opacity 0.3s, transform 0.3s; /* Add transition effect */
            border: 1px solid rgb(255,190,31);
            background-color: #000;
            
            
        }

        .modal-content.show {
            opacity: 1; /* Make it visible */
            transform: translateY(0); /* Move it to its original position */
        }

        /* Close button */
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #888;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        /* Close button on hover */
        .close:hover {
            color: #000;
        }

        /* Modal message text */
        #modal-message {
            font-size: 16px;
            color: #fff;
        }

        .cart_area{
            margin-top: 70px;
        }

        @media (max-width:987px) {
            .cart_area{
                margin: 0;
            }
        }
        .empty_cart{
            height: auto;
            max-width:70%;
        }
        .empty-cart-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
           
        }
        
        /*-------------------------------------------------------------------- error message------------------------------------------------- */

        .errormsg{
            color: red;
        }

        /* -------------------------cart image------------------------- */
        .cartImg {
            max-width: 150px; /* Set your desired maximum width */
            max-height: 150px; /* Set your desired maximum height */
            overflow: hidden; /* Clip the image if it exceeds the container size */
            
        }
        
        /* Style for the image inside the container */
        .cartImg img {
            max-width: 100%; /* Ensure the image doesn't exceed the container width */
            max-height: 100%; /* Ensure the image doesn't exceed the container height */
            height: auto; /* Maintain the image's aspect ratio */

        }
        .cart-info{
            padding: 1rem;
            height: 100%;
            width: 100%;
            
        }
        .darkText{
            color: #000;
            font-weight: 500;
        }
        .cartBtn{
            margin-left: auto;
            margin-top: auto;
             
        }
        .cartSummeryHead{
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
            margin-bottom: 1rem;
        }

        .top-border{
            border-top: 1px dashed rgba(0, 0, 0, 0.09);
        }

        .cartSummeryBody {
            
            text-align: center; /* Center content horizontally if needed */
            font-size: 1rem;
        }
        



        .setPdding{
            padding: 2rem;
        }

       
@media (max-width: 500px) {

    .yellowBtn{
        padding: 0.39rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        font-size: 10px;
    }
    .darkBtn{
        padding: 0.39rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        font-size: 10px;

    }

    .cart-item {
        flex-direction: column; /* Stack items vertically */
    }

    .cartImg {
        text-align: center; /* Center the image */
    }

    .product_count {
        text-align: center; /* Center quantity input and buttons */
        margin-top: 10px; /* Add some spacing */
    }

    .media-body.cart-info {
        text-align: center; /* Center the product information */
        margin-top: 10px; /* Add some spacing */
    }
}




.cartSummeryBody > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Adjust the value to control the spacing */
  }

  .borderTop{
    border-top: 1px dashed rgba(0, 0, 0, 0.39);
  }
  .cartSummery{
    position: sticky;
    top: 5.5rem;
  }



.mdi-cart,.mdi-login{
    color: rgb(34,34,34);
}




/* ---------------------cart badge----------------------- */

.cBadge{
    
    position: absolute;
    top: -8px;
    left: 5px;
    background-color: rgb(252, 21, 21);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: white;
   
    display: none;
    justify-content: center;
    align-items: center;
}


    /* Style for the modal */
        .rmmodal {
            
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4); /* Black background with transparency */
        }

        /* Modal content */
        .rmmodal-content {
            position: relative;
            width: 80%;
            max-width: 35rem;
            background-color: #fff;
            margin: 15% auto;
            
            padding-bottom: 1rem;
            padding-top: 0.5rem;

            border-radius: 15px;
            text-align: center;
        }

        /* Close button */
        .rmclose {
            color: #ffffff;
            position: absolute;
            top:-5px;
            right: -25px;
            font-size: 30px;
            cursor: pointer;
           
            
            
            
        }

        .confirmHeader{
            padding: 0.5rem;
            padding: 0.2rem;
            border-bottom: 1px solid black;
            

        }
        .confirmHeader h2{
            color: #000000;
        }
        #confirmBtn{
            color: #f4f4f4;
        }
        .confirmBody{
            padding: 1rem;
        }

        /* -----------------------------------user profile page--------------------------------------- */

        .profile-image {
            max-width: 100%; /* Make the image responsive to its container */
            height: auto;    /* Maintain aspect ratio */
            display: inline-block;  /* Remove extra space at the bottom of inline images */
        }

        .profileOption{
            font-size: 1rem;
            border-bottom: 1px solid rgba(119,119,119,0.15);
            
            padding: 0;
        }
        .profileMainOption{
            font-weight: 500;
        }
        .profileOptionCard{
            padding-bottom: 1rem ;
            padding: 0;
        }
        .profileSubOption{
            text-decoration: none;
            font-size: 0.9rem;
            color: rgb(0,0,0);
            display: block;
            
        }
        .profileSubOption:hover{
            background-color: #F5FAFF;
            color:blue;

        }
        .selected{
            background-color: #F5FAFF;
            
            font-weight: 500;
        }
        .selected-success{
            background-color: #fbfff9;
            
            font-weight: 500;
        }
        .selectAddress{
            background-color: #F5FAFF;
            font-weight: 500;
        }
        .addressOption:hover{
            background-color: #F5FAFF;
        }
        .containOption:hover{
            background-color: #F5FAFF;
        }
        .userInfo{
            cursor:not-allowed;
        }
        .restrict{
            cursor:not-allowed;
        }
        .save{
            display: none;
        }
        
/* -----------------------------------------------------------------------------------------------------------------------find a way to make it responsive
        @media (max-width:991px) {

            
        } ----------------------------------------------------------------------------------------------------------------------------------||||||||||||||||*/

        .addAddress{
            border: 1px solid rgba(119,119,119,0.15);
            color: #FFBA00;
            font-weight: 500;
        }
        .big{
            font-size: 1.5rem;
        }
        .address{
            border: 1px solid rgba(119,119,119,0.15);
        }
        .contain{
            border: 1px solid rgba(119,119,119,0.15);
        }

        #addressUpdateContainer{
            display: none;
        }
        .infos{
            max-width: 523px;
        }
       .opt-link{
        text-decoration: none;
        color: #000;
        font-weight: 400;
       }

       .opt-link:hover{
        color:red
       }
       .addressRadio{
        display: block;
        
       }

       /* --------------------------------------------------checkout--------------------------------- */

       #deliveyHere{
            display: none;
       }

       .project-effect{
        box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.05);
       }
       #orderSummeryData{
        display: none;
       }
       
       .mdi-wallet{
        color: rgb(2, 245, 2);
       }
       .mdi-credit-card{
        color: rgb(2, 2, 134);
       }
       .mdi-bank,.mdi-cellphone-android{
        color: rgb(50, 137, 231);
       }
       .mdi-cash-usd{
        color: rgb(163, 66, 66);
       }
       .placeOrderBtn{
        display: none;
       }
       #paymentOptions{
        display: none;
       }
       .project{
        box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.052);
       }



      .acknowledge{
        border: 0.121rem solid rgba(17, 255, 17, 0.45);
      }

      .mdi-check-all{
        color: rgb(9, 237, 9);
        font-size: 1.75rem;
      }

      .mdi-package-variant-closed{
        font-size: 1.75rem;
        color: rgb(6, 233, 6);
      }



      /* ------------------------------------------my orders-------------------------------------- */
      .quantityBox{
        max-width: 5rem;
      }
      .direct-to{
        text-decoration: none;
        color: inherit;
      }
      .direct-to:hover{
        color: inherit;
      }


      /*------------------------------------------------- progress bar-------------------------- */

      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #a1c4fd;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
        }






/* Progress bar */
#progress-bar {
    display: table;
    width: 100%;
    margin: 0;
    padding: 15px 15px 0;
    table-layout: fixed;
    width: 100%;
    counter-reset: step;
}

#progress-bar li {
    list-style-type: none;
    display: table-cell;
    width: 20%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
}

#progress-bar li:before {
    width: 50px;
    height: 50px;
    color: #212121;
    content: counter(step);
    counter-increment: step;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid #CCCCCC;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    z-index: 1; /* Ensure the circles are above the connecting lines */
}

#progress-bar li:after {
    width: 100%;
    height: 10px;
    content: '';
    position: absolute;
    background-color: #CCCCCC;
    top: 25px;
    left: -50%;
    z-index: 0; /* Set the z-index to ensure lines are behind the circles */
}

#progress-bar li:first-child:after {
    content: none;
}

#progress-bar li.step-done {
    color: #000000;
}

#progress-bar li.step-done:before {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
    content: "\f00c";
    font-family: "FontAwesome";
}

#progress-bar li.step-done + li:after {
    background-color: #000000;
}




#progress-bar li.step-active {
    color: #000000;
}

#progress-bar li.step-active:before {
    border-color: #000000;
    color: #000000;
    font-weight: 700;
}

   
/* ---------------------cancel case------------------------- */

#progress-bar li.cancel-done {
    color: #000000;
}

#progress-bar li.cancel-done:before {
    border-color: #ff0000;
    background-color: #ff0000;
    color: #ffffff;
    content: "\f00c";
    font-family: "FontAwesome";
}

#progress-bar li.cancel-done + li:after {
    background-color: #ff0000;
}
        

      /* ------------------------------------------------progrss bar eds---------------------------- */


      /* -------------------------------------------------------button---------------------------- */
   


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
      /*------------------------------------------------------- button ends------------------------------------------------------- */

      
/* -----------------------------------------------------wallet------------------------ */

.card {
    width: 100%;
    max-width: 336px;
    height: 209.32px;
    background: linear-gradient(240deg, #999898 0%, #0e0e0e 100%);
    border-radius: 11.20px;
    border: 1.87px #959797 solid;
    position: relative;
  }
  
  .card-content {
    position: absolute;
    left: 24.38px;
    top: 20.53px;
    max-width: 120px;
    height: 18.67px;
    color: #FCFDFF;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 18.67px;
    word-wrap: break-word;
  }
  
  .card-amount {
    position: absolute;
    left: 24.38px;
    top: 130.67px;
    width: 134.61px;
    height: 18.67px;
    color: #FCFDFF;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 18.67px;
    word-wrap: break-word;
  }
  
  .card-period {
    position: absolute;
    left: 24.38px;
    top: 50.40px;
    max-width: 150px;
    height: 18.67px;
    color: #9E9E9E;
    font-size: 11.20px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 18.67px;
    word-wrap: break-word;
  }
  
  .card-percentage {
    position: absolute;
    left: 24.38px;
    top: 159.60px;
    max-width: 152.63px;
    height: 18.67px;
    color: #9E9E9E;
    font-size: 11.20px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 18.67px;
    word-wrap: break-word;
  }
  
  .card-icon {
    position: absolute;
    left: 306.45px;
    top: 21.47px;
    width: 3.85px;
    height: 15.87px;
  }
  
  .card-indicator {
    position: absolute;
    left: 108.11px;
    top: 57.87px;
    width: 8.48px;
    height: 3.73px;
    border: 0.93px white solid;
  }
  
  @media (max-width: 576px) {
    .card {
      max-width: 100%;
    }
  }

  .walletAddMoney{
    
    height: 100%;
    width: 100%;
    object-fit: contain;
    
  }
 

  .addMoney{
    
    
    background: linear-gradient(240deg, #b6b3b3 0%, #97b9ef 100%);
   height: 100%;
   border-radius: 11.20px;
  }

  .transaction{
    border-radius: 11.2px;
    border: 0.2px solid rgb(157, 154, 154);
  }

/* -----------------------------------wallet end--------------------------------- */


