.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

#resendOtp{
	color: rgba(0, 0, 255, 0.668);

	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
}
#resendOtp:hover{
	text-decoration: none;
}

.googleButton {
	margin-top: 1rem;
	max-width: 350px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0.5rem 1.4rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.25);
	gap: 0.75rem;
	color: rgb(65, 63, 63);
	background-color: #fff;
	cursor: pointer;
	transition: all .6s ease;
  }
  
  .googleButton svg {
	height: 24px;
  }
  
  .googleButton:hover {
	transform: scale(1.02);
  }
