<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->



<!-- bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- mdb cdn -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"
/>

<%if(locals.admin){%>
   
    
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
    
    <!-- croper -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">


<%}%>
	

<!-- main custom style sheet -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body class="animsition">
    



	<%if(locals.admin){%>
    <div class="container-scroller">
    <%-include('./sidebar.ejs')%>
    <div class="container-fluid page-body-wrapper">
		<%-include('./navbar.ejs')%>
		
		<div class="main-panel">
		<div class="content-wrapper" id="pageContent">
	<%}%>
	