
<nav class="sidebar sidebar-offcanvas" id="sidebar"  background-color: aliceblue;>
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html"><img src="/static/assets/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  
  <ul class="nav" id="sideNavBar"  style="position: fixed;">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="/static/assets/images/faces/face15.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Admin</h5>
            <span>primary</span>
          </div>
        </div>
       
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/admin/adminDashboard">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item menu-items" id="users" >
      <a class="nav-link adminOption" href="#" id="view-userAnchor">
        <span class="menu-icon" >
          <i class="mdi mdi-account-multiple"></i>
        </span>
        <span class="menu-title " id="view-span">Users</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="ui-basic" >
        <span class="menu-icon">
          <i class="mdi mdi-archive"></i>
        </span>
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="viewProducts">View Products</a></li>
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="add-productAnchor">Add Products</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Categories</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="categories">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" id="view-category "> <a class="nav-link adminOption" href="#" id="view-categoryAnchor">View Categories</a></li>
          <li class="nav-item" id="add-category "> <a class="nav-link adminOption" href="#" id="add-categoryAnchor">Add Categories</a></li>
        </ul>
      </div>
    </li>


    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#brands" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Brands</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="brands">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" id="view-category "> <a class="nav-link adminOption" href="#" id="view-brands">View Brands</a></li>
          <li class="nav-item" id="add-category "> <a class="nav-link adminOption" href="#" id="add-brand">Add Brands</a></li>
        </ul>
      </div>
    </li>




    <li class="nav-item menu-items">
      <a class="nav-link " href="/admin/banner" id="">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Banner</span>
      </a>
    </li>


    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#coupons" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Coupons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="coupons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="viewCoupones">View Coupons</a></li>
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="addCoupone">Add Coupones</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#offers" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Offers</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="offers">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="viewOffers">View Offers</a></li>
          <li class="nav-item"> <a class="nav-link adminOption" href="#" id="addOffer">Add Offer</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link adminOption" href="#" id="listOrders">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Orders</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link adminOption salesReport" href="#" id="">
        <span class="  menu-icon ">
          <i class="mdi mdi-contacts salesReport adminOption"></i>
        </span>
        <span class="adminOption salesReport menu-title ">Report Management</span>
      </a>
    </li>



  </ul>
</nav>
