
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Karma Shop</title>
		<!--
			CSS
			

			============================================= -->
			
		<link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">


		<link rel="stylesheet" href="/static/user/css/linearicons.css">
		<link rel="stylesheet" href="/static/user/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/user/css/themify-icons.css">
		<link rel="stylesheet" href="/static/user/css/bootstrap.css">
		<link rel="stylesheet" href="/static/user/css/owl.carousel.css">
		<link rel="stylesheet" href="/static/user/css/nice-select.css">
		<link rel="stylesheet" href="/static/user/css/nouislider.min.css">
		<link rel="stylesheet" href="/static/user/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="/static/user/css/ion.rangeSlider.skinFlat.css" />
		<link rel="stylesheet" href="/static/user/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/user/css/main.css">

		<!-- ------------custom style-------------------- -->
		<link rel="stylesheet" href="/static/user/css/style.css">
	</head>
	
	<body>
		
		<%- include('./userNavbar.ejs')%>