	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
									<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
									<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
								</ul>
							</li>
							<%if(locals.user){%>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle  text-capitalize " data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false" ><span class="d-flex align-items-center setsize"><i class="mdi mdi-account-outline Icon-lg mr-1 "></i> <%= user.fname %></span></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link d-flex align-items-center text-capitalize " href="/profile"><i class="mdi mdi-account-circle Icon-lg mr-1"></i>My Profile</a></li>
									<li class="nav-item"><a class="nav-link d-flex align-items-center text-capitalize " href="tracking.html "><i class="mdi mdi-heart-outline  Icon-lg mr-1"></i> Wishlist</a></li>
									<li class="nav-item"><a class="nav-link d-flex align-items-center text-capitalize " href="tracking.html "><i class="mdi mdi-shopping  Icon-lg mr-1"></i> Orders</a></li>

									<li class="nav-item"><a class="nav-link d-flex align-items-center text-capitalize " href="/logout"><i class="mdi mdi-logout  Icon-lg mr-1"></i>logout</a></li>
								</ul>
							</li>

							<%}else{%>

								<li class="nav-item  d-flex  align-items-center"><a href="/login" class="d-flex  align-items-center"><i class=" mdi mdi-login Icon-lg ml-1"></i></a></li>
								<%}%>
						</ul>
						<ul class="nav navbar-nav navbar-right">

							<li class="nav-item d-flex  align-items-center">
							
								<a href="/api/goToCart" class="cart position-relative">
									<div class="cBadge">3</div>
									<i class="mdi mdi-cart Icon-lg"></i>
										
									</a>
								
								
								
							</li>

							
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
						
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" method="Post" action="/searchProduct">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="searchKey">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->