<%- include("../../partials/login-register/header.ejs") %>
<div class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="/static/assets/images/easy-02.png" alt="easycart">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <%if(locals.message){%>
								<div class="text-center alert-danger" id="alertMessage"> 
								<%=message%>
								</div>
								<%}%>
                            <h4 class="card-title">Reset Password</h4>
                            <form method="POST"  novalidate action="/forgotPassword" onsubmit="return validateForm()">
                                <div class="form-group">
                                    <label for="email">Enter your email</label>
                                    <input id="email" type="email" class="form-control" name="email" autofocus onclick="clearError('emailError')">
                                    <div id="emailError" class="text-danger"></div>

                                    <div class="form-text text-muted">
                                        A verification email will be sent to your email address for authentication.
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2023 &mdash; easy cart 
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/static/user/userJs/login-register/forgotPassword.js"></script>

<%- include("../../partials/login-register/footer.ejs") %>

