body{
    background-image: url('/static/assets/bckImages/bck.jpg');
}
.wrap{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.15);

}
.wrap2{
    background-image: url('/static/bck.jpg');
}
.reg-b{
    background-color: rgb(1, 1, 24);
    color: aliceblue;
    
}

/* login form */
.login-box1{
    width: 30%;
    padding: 3% 3%;
    border-radius: 3%;
    width: 30%;
    margin: 0px;
    box-shadow:  5px 5px 10px 5px rgba(0, 0, 0, 0.15);
}
.centerDiv{
    display: flex;
    justify-content: center;
    
    
}
.form-control{
    border: none;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
.btn{
    width: 100%;

}
a{
    text-decoration: none;
    color: rgb(107, 103, 103);
    font-weight: 500;
    font-style: italic ;
}
label{
    font-family: cursive;
    font-weight: 500;
}
@media (max-width:1200px) {
    .login-box1{
        width: 50%;
    }
    
}


@media (max-width:800px) {
    .login-box1{
        width: 80%;
    }
    
}
 




/* form */
#fnameError,#snameError,#emailError,#profError,#phoneError,#passwordError,#rpasswordError{
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


