.signUpSection{
    height:100vh;
    background-color: rgb(234,233,229);
}
.signUpBackground{
    background-image: url("/static/assets/bckImages/bck2.jpg");

}

/* login,signup,op button */
.btn-them{
    background-color: rgb(113, 127, 224);
    color:white;
    font-size: 1rem;
    font-weight: 500;

}
#resendInfo{
    font-size: 0.9rem;
    
}

/* admin */

/*alert message from server*/

.alertmsg{
  background-color:rgb(5, 5, 5);
  color: white;
  height: 5%;
}


@media (min-width:992px){
    .adminLoginDiv{
        padding-top: 10%;
    }
}

/* view category  */

  /* Define a custom CSS class to limit the maximum width  */
  .description-limit {
    max-width: 700px; /* Adjust the value as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .modal-content{
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    max-width: 50%;
    padding: 20px;
  }

  #searchKey{
    max-width: 40%;
  }

/* view product */

  /* Define a custom CSS class to limit the maximum width */
  
  .limit200 {
    max-width: 200px;   /* Adjust the value as needed */
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }