.signUpSection{
    height:100vh;
    background-color: rgb(234,233,229);
}
.signUpBackground{
    background-image: url("/static/assets/bckImages/bck2.jpg");

}

/* login,signup,op button */
.btn-them{
    background-color: rgb(113, 127, 224);
    color:white;
    font-size: 1rem;
    font-weight: 500;

}
#resendInfo{
    font-size: 0.9rem;
    
}

/* admin */

/*alert message from server*/

.alertmsg{
  background-color:rgb(5, 5, 5);
  color: white;
  height: 5%;
}


@media (min-width:992px){
    .adminLoginDiv{
        padding-top: 10%;
    }
}

/* view category  */

  /* Define a custom CSS class to limit the maximum width  */
  .description-limit {
    max-width: 700px; /* Adjust the value as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .modal-content{
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    max-width: 50%;
    
    padding: 20px;
  }


  .viewProductDetailsModal{
    height: 100vh;
    overflow: scroll;
    
  }


  #viewModal {
    transition: opacity 0.3s;
    opacity: 1;
    pointer-events: auto;
  
  }
  
  #viewModal.hidden {
    opacity: 0;
    pointer-events: none;
 
  }

  /* Hide the default scrollbar */
.viewProductDetailsModal::-webkit-scrollbar {
  width: 0.2em; /* Set the width to a very small value */
}

/* Track */
.viewProductDetailsModal::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* Handle */
.viewProductDetailsModal::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scroll handle (thumb) transparent */
}

.rating{
  color: rgb(255, 225, 2);
}


  #searchKey{
    max-width: 40%;
  }

/* view product */

  /* Define a custom CSS class to limit the maximum width */
  
  .limit200 {
    max-width: 200px;   /* Adjust the value as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }





  /* add product */
        /*admin  add product multi select dropdown*/
  


      .multiselect {
            width: 70%;
            position: relative;
        }

        .select-box {
            
            padding: 5px;
            border: 1px solid #555;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
        }

        .options-container {
            display: none;
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            border: 1px solid #555;
            background-color: #eeeeee;
            border-radius: 5px;
            top: 100%;
            left: 0;
            right: 0;
        }



          /* Hide the default scrollbar */
.options-container::-webkit-scrollbar {
  width: 0.2em; /* Set the width to a very small value */
}

/* Track */
.options-container::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* Handle */
.options-container::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scroll handle (thumb) transparent */
}

        .option {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #555;
        }

        .option:last-child {
            border-bottom: none;
        }

        .option:hover {
            background-color: #c7c4c4;
        }

        .selected-options {
            font-size: 0.9em;
            color: #000000;
        }

        .arrow {
            color: #ccc;
        }

        .checkbox-label {
            display: block;
            
            width: 100%;
        }


        /* color */

        .form-control-color{
            max-width: 40px;
           
            border:0.5px solid white;
            
            padding: 0;
            overflow: hidden;
        }



        /* multiple image uploader */

.upload-container {
  max-width: 500px;
  margin: 0 auto;
  background:  #e6e4e4;
  border: 1px dashed rgb(237, 240, 243);
  border-radius: 5px;
  
}

.upload-logoContainer {
  max-width: 150px;
 
  background: #505356;
  border: 1px dashed rgb(237, 240, 243);
  border-radius: 5px;
  
}

.upload-input {
  display: none;
}

.custom-button {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  color: #454444;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background: #e6e4e4;
  color: #000000;
}


.image-preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}

.image-preview img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-preview-div{
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  /* border: 1px dashed black; */
  text-align: center; 
  margin: 0.75rem;
  
}
.image-preview-remove-button{
  position: absolute;
  top: -5px;
  right: -8px;
 background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: large;
}
.image-view-button{

  position: absolute;
  bottom: -5px;
  right: 0px;
 background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: large;

}
/* ----------------------------------------edit product------------------------------------ */
.hide{
  display: none;
}


/*--------------------------------------- search feature input box---------------------------------- */
#searchKey{
  max-width: 250px;
  
  margin-right: 0.3rem;
  border-radius:6px ;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.searchField{
  margin-left: auto;
  max-width: 200px;
  margin-right: 0.3rem;
  border-radius:6px ;
 
  

}
.selectf{
  padding: 0.3rem;
  border-radius: 0.3rem;
  /* box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.1); */
}

#searchProduct{
  height: 50%;
}

.cartImg {
  max-width: 150px; /* Set your desired maximum width */
  max-height: 150px; /* Set your desired maximum height */
  overflow: hidden; /* Clip the image if it exceeds the container size */
  
}

/* Style for the image inside the container */
.cartImg img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  height: auto; /* Maintain the image's aspect ratio */

}
.cart-info{
  padding: 1rem;
  height: 100%;
  width: 100%;
  
}

.cartSummeryHead{
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 1rem;
}

.top-border{
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.cartSummeryBody {
  
  text-align: center; /* Center content horizontally if needed */
  font-size: 1rem;
}

@media (max-width: 500px) {
  .cart-item {
    flex-direction: column; /* Stack items vertically */
}

.cartImg {
    text-align: center; /* Center the image */
}

.product_count {
    text-align: center; /* Center quantity input and buttons */
    margin-top: 10px; /* Add some spacing */
}

.media-body.cart-info {
    text-align: center; /* Center the product information */
    margin-top: 10px; /* Add some spacing */
}
}

.cartSummeryBody > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Adjust the value to control the spacing */
}

.borderTop{
  border-top: 1px dashed rgba(0, 0, 0, 0.39);
}
.cartSummery{
  position: sticky;
  top: 5.5rem;
}
.qty{
  max-width: 4rem ;
}
.contain{
  border: 1px solid rgba(119,119,119,0.15);
}

.link-to-product{
  text-decoration: none;
  color: inherit;
}
.project-effect{
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.05);
 }

 .link-to-product:hover{
  color: inherit;
  text-decoration: none;
 }
 .set-color{
  color: black;
 }

 /* ----------------------image crop-------------------- */

 .cropperDiv{
  display: flex;
  flex-direction: column;

 height: auto;
 max-width:20rem ;
 object-fit: contain;
 }
#cropBtn{
  margin: 0px auto;
  font-size: large;
  padding: 1rem;
}

/* Modal styles */
.img-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 35rem;
  width: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  
  border-radius: 5px;
  object-fit: contain;
}
.img-modal-content img{

  width: auto; /* Allow the image to scale while maintaining aspect ratio */
  height: auto; /* Allow the image to scale while maintaining aspect ratio */
  display: block;
}


/* Close button style */
.img-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.saveCrop{
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border: 1px solid black;
  color: #000000;
  margin: 0px auto;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s ,transform 0.3s;
}

.saveCrop:hover{
  text-decoration: none;

  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}