.signUpSection{
    height:100vh;
    background-color: rgb(234,233,229);
}
.signUpBackground{
    background-image: url("/static/assets/bckImages/bck2.jpg");

}

/* login,signup,op button */
.btn-them{
    background-color: rgb(113, 127, 224);
    color:white;
    font-size: 1rem;
    font-weight: 500;

}
#resendInfo{
    font-size: 0.9rem;
    
}

/* admin */

/*alert message from server*/

.alertmsg{
  background-color:rgb(5, 5, 5);
  color: white;
  height: 5%;
}


@media (min-width:992px){
    .adminLoginDiv{
        padding-top: 10%;
    }
}

/* view category  */

  /* Define a custom CSS class to limit the maximum width  */
  .description-limit {
    max-width: 700px; /* Adjust the value as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .modal-content{
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    max-width: 50%;
    padding: 20px;
  }

  .viewProductDetailsModal{
    height: 100vh;
    overflow: scroll;
    
  }

  /* Hide the default scrollbar */
.viewProductDetailsModal::-webkit-scrollbar {
  width: 0.2em; /* Set the width to a very small value */
}

/* Track */
.viewProductDetailsModal::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* Handle */
.viewProductDetailsModal::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scroll handle (thumb) transparent */
}

.rating{
  color: rgb(255, 225, 2);
}


  #searchKey{
    max-width: 40%;
  }

/* view product */

  /* Define a custom CSS class to limit the maximum width */
  
  .limit200 {
    max-width: 200px;   /* Adjust the value as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }





  /* add product */
        /*admin  add product multi select dropdown*/
  


      .multiselect {
            width: 70%;
            position: relative;
        }

        .select-box {
            
            padding: 5px;
            border: 1px solid #555;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
        }

        .options-container {
            display: none;
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            border: 1px solid #555;
            background-color: #eeeeee;
            border-radius: 5px;
            top: 100%;
            left: 0;
            right: 0;
        }



          /* Hide the default scrollbar */
.options-container::-webkit-scrollbar {
  width: 0.2em; /* Set the width to a very small value */
}

/* Track */
.options-container::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* Handle */
.options-container::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scroll handle (thumb) transparent */
}

        .option {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #555;
        }

        .option:last-child {
            border-bottom: none;
        }

        .option:hover {
            background-color: #c7c4c4;
        }

        .selected-options {
            font-size: 0.9em;
            color: #000000;
        }

        .arrow {
            color: #ccc;
        }

        .checkbox-label {
            display: block;
            
            width: 100%;
        }


        /* color */

        .form-control-color{
            max-width: 40px;
           
            border:0.5px solid white;
            border-radius: 50%;
            padding: 0;
            overflow: hidden;
        }



        /* multiple image uploader */

.upload-container {
  max-width: 500px;
  margin: 0 auto;
  background: #2A3038;
  border: 1px dashed rgb(237, 240, 243);
  border-radius: 5px;
  
}

.upload-logoContainer {
  max-width: 150px;
 
  background: #2A3038;
  border: 1px dashed rgb(237, 240, 243);
  border-radius: 5px;
  
}

.upload-input {
  display: none;
}

.custom-button {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  color: #454444;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background: #e6e4e4;
  color: #000000;
}


.image-preview {
  display: flex;
  flex-wrap: wrap;
}

.image-preview img {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* ----------------------------------------edit product------------------------------------ */
.hide{
  display: none;
}


/*--------------------------------------- search feature input box---------------------------------- */
#searchKey{
  max-width: 250px;
  
  margin-right: 0.3rem;
  border-radius:6px ;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.searchField{
  margin-left: auto;
  max-width: 200px;
  margin-right: 0.3rem;
  border-radius:6px ;
 
  

}
.selectf{
  padding: 0.3rem;
  border-radius: 0.3rem;
  /* box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.1); */
}

#searchProduct{
  height: 50%;
}


