<div class="d-flex justify-content-between">
    <h5>Change Password</h5>
</div>

<form id="changePasswordForm">
<div id="changePasswordDiv">
<div class="row">
    <div class="col-md-6 py-3">
        <label for="cPassword" class="form-label">Current Password</label>
        <input type="password" id="cPassword" class="form-control" name="cPassword">
        <div class="errormsg" id="cPasswordError"></div>
    </div>
    
</div>
<div class=" row">
    <div class="col-md-6 py-3">
        <label for="nPassword" class="form-label">New Password</label>
        <input type="password"  id="nPassword" class="form-control" name="nPassword">
        <div class="errormsg" id="nPasswordError"></div>
    </div>
    

    
</div>

<div class="row">

    <div class="col-md-6 py-3">
        <label for="rePassword" class="form-label">Re-enter new password</label>
        <input type="password"  id="rePassword" class="form-control" name="rePassword">
        <div class="errormsg" id="rePasswordError"></div>
    </div>
    
</div>
</div>
</form>

<a href="#" class="darkBtn profileAction" id="updatePassword">Update</a>
