<%-include('./footer.ejs')%>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>500</h1>
        </div>
        <h2>Oops! This Page Could Not Be Found</h2>
        <p>An Internal Server Error (500) has occurred. We apologize for the inconvenience. This is a technical issue on our end, and our team is actively addressing it. Please try your request again later. Thank you for your understanding.</p>
        <%if(!(locals.hideRedirect)){%>
        <a href="/admin/adminDashboard">Go To Homepage</a>
        <%}%>
    </div>
</div>
<%-include('./header.ejs')%>